<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3" id="servicios">
            <div class="widget subscribe no-box">
              <h5 class="widget-title">Hotel Sierras Inn</h5>
              <p>Los espacios del Sierras Inn son nuevos, luminosos y acogedores, al igual que nuestro personal de
                recepcion, que con gran placer les asistira durante su estancia en Cordoba y sabra sugerirles
                itinerarios, visitas guiadas y algun buen restaurante</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Servicios<span></span></h5>
              <ul class="thumbnail-widget">
                <li>
                  <p><img alt="estacionamiento" width="30" height="30" src="../static/img/parking.png" th:src="@{/img/parking.png}">
                    Estacionamiento</p>
                </li>
                <li>
                  <p><img alt="wi-fi" width="30" height="30" src="../static/img/wi-fi.png" th:src="@{/img/wi-fi.png}"> Wi-Fi
                  </p>
                </li>
                <li>
                  <p><img alt="Ascensor" width="30" height="30" src="../static/img/ascensor.png" th:src="@{/img/ascensor.png}">
                    Asensor</p>
                </li>
                <li>
                  <p><img alt="Aire acondicionado" width="30" height="30" src="../static/img/Aire-acondicionado.png"
                      th:src="@{/img/Aire-acondicionado.png}"> Aire Acondicionado</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Registrarse<span></span></h5>
              <p>Registrese para recibir promociones</p>
              <a class="btn btn-registrar" th:href="@{/registro}" target="_blank">Registrarse</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Contactos<span></span></h5>

              <p><a href="mailto:info@hotelsierras.com" title="enviar mail" style="color: white;"><img alt="Envir un mail al hotel" width="30" height="30"
                    src="../static/img/gmail.png" th:src="@{/img/gmail.png}"> info@hotelsierras.com</a></p>

              <p><img alt="telfono de contacto" width="30" height="30" src="../static/img/telefono.png"
                  th:src="@{/img/telefono.png}"> 0351 - 4842799</p>

              <p><img alt="direccion colon 770" width="30" height="30" src="../static/img/ubica.png" th:src="@{/img/ubica.png}">
                Av. Colon 700 - Centro</p>

              <ul class="social-footer2">
                <li><a href="https://www.facebook.com/lorenazuazo" target="_blank" title="Facebook"><img class="icon-social"
                      alt="acceso a Facebook" width="30" height="30" src="../static/img/facebook.png"
                      th:src="@{/img/facebook.png}"></a></li>

                <li><a title="instagram" target="_blank" href="https://www.instagram.com/lorenazuazo"><img class="icon-social"
                      alt="acceso a instagram" width="30" height="30" src="../static/img/twiter.png"
                      th:src="@{/img/twiter.png}"></a></li>

                <li><a href="https://wa.me/5493513112745" target="_blank" title="WhatsApp"><img class="icon-social"
                      alt="acceso a WhatsApp" width="30" height="30" src="../static/img/wp.png"
                      th:src="@{/img/wp.png}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright Hotel Sierras Inn &copy 2020. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
