<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	 <!-- iconos de materialize -->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css" th:href="@{/css/mystyle.css}">
	
	<!-- logo en pestaña de navegacion -->
	<link rel="icon" type="imagen/png" href="../static/img/letra-h.png" th:href="@{/img/letra-h.png}">
	<title>Error</title>

	<style type="text/css">
		body{
			padding-top:10%;
		}
	
		img{
			width:50%;
		}
		
	</style>
</head>
<body>
	<div th:replace="/components/nav" th:remove="tag"></div>
<!-- imagen de fondo -->
<section class="banner"></section> 
<div class="container text-center">
	<div class="mx-auto col-10 card">
		<div class="card-header">
			<h4>404 Pagina No Encontrada</h4>
		</div>
		<div class="card-body">
			<a href="/login" ><img src="static/img/e404.png" th:src="@{/img/e404.png}"/></a>
		</div>
		<div class="card-footer">
			
		</div>
	</div>	    
</div>
</body>
</html>