
.icons-design {
    vertical-align: middle;
    color: rgb(168, 143, 28);
}
#btncerrarsesion{
    background-color: transparent;
    border: 0;
    color: black;
    cursor: pointer;
    display: inline;
    margin-left: 20px;
    outline: none;
    padding: 0px;
    box-sizing: content-box;
}

#btncerrarsesion:hover {
    background-color: rgb(247, 250, 252);
  }

  .banner{
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/hb-suiteDoble.jpg);
    opacity: .7;
    background-repeat: no-repeat;
    background-size: cover;
}
/*formulario*/
#registro {
	font-family: 'Josefin Sans', sans-serif;
    background-position: center;
    height: 400px;
}
#advanced-search-form{
    background-color: rgb(252, 249, 249);
    max-width: 800px;
    margin: 40px auto 0;
    padding: 40px;
    color: #1a1c1d;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
    opacity: 0.95;
}

#advanced-search-form h2{
    padding-bottom: 20px;
    margin: 10px 20px;
    font-size: 24px;
}

#advanced-search-form hr{
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left:3px;
    border: 1px solid #cccccc;

}

#advanced-search-form .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}

#advanced-search-form .form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#advanced-search-form .btn{
    width: 20%;
    margin: 20px;
    display: inline-block;
    outline: none;
}

.centrado{ 
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 800px){
    #advanced-search-form .form-group{
        width: 45%;
    }

    #advanced-search-form{
        margin-top: 0;
    }
}

@media screen and (max-width: 560px){
    #advanced-search-form .form-group{
        width: 100%;
        margin-left: 0;
    }

    #advanced-search-form h2{
        text-align: center;
    }
}