.margen2 {
    margin-top: 7rem;
}

.banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/hb-suiteDoble.jpg");
    opacity: .7;
    background-repeat: no-repeat;
    background-size: cover;
}

.icons-design {
    vertical-align: middle;
    color: rgb(168, 143, 28);
}