<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--JQUERY-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- iconos de materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css" th:href="@{/css/admin.css}">
    <link rel="stylesheet" type="text/css" href="static/css/user-form.css" th:href="@{/css/user-form.css}">

    <!-- logo en pestaña de navegacion -->
   <link rel="icon" type="imagen/png" href="../static/img/letra-h.png" th:href="@{/img/letra-h.png}">
   
    <!-- DATA TABLE -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


    <!-- mi javascript -->
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>

 
    <title>Modificaiones</title>
</head>
<body style="background: rgb(100, 99, 99);">
<!-- imagen de fondo -->
<section class="banner"></section> 

<!-- barra de navegacion de modificaciones -->
<div th:include="components/navadmin.html" th:remove="tag"></div>

<!-- formulario y lista para modificar reservas -->
<div th:include="reservas-forms/reserva-view.html"th:remove="tag"></div>

<!-- modal para confirmar la eliminacion -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Atencion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Confirma eliminar?
          <input type="hidden" id="Input" name="Input"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" th:onclick="deleteReserva()">Eliminar Reserva</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal para agragar huesped nuevo en la reserva -->
<div class="modal fade" id="agregahuesped" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <form  id="huespedForm" th:object="${nuevoHuesped}" method="post" th:action="@{/modificaciones/editar-Reserva-Huesped}">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Huesped</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombreHuesped"  placeholder="Nombre" required>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="apellidohuesped" placeholder="Apellido" required>
          </div>
          <div class="form-group">
            <label for="dni">Dni</label>
            <input type="text" class="form-control" name="dni" id="dnihuesped" placeholder="DNI" required>
          </div>
          <div class="form-group">
            <label for="reserva">Id Reserva</label>
            <input type="number" class="form-control" name="resAux" id="reservahuesped" placeholder="ID reserva">
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
    </div>
  </div>
</div>

</body>
</html>