<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--para usar bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<!-- iconos -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}">
<link rel="stylesheet" href="../static/css/registro.css" th:href="@{/css/registro.css}">
<!-- logo en pestaña de navegacion -->
<link rel="icon" type="imagen/png" href="../static/img/letra-h.png" th:href="@{/img/letra-h.png}">

<title>Registro</title>
</head>
<!-- data-spy="scroll" data-target="#myScrollspy" -->
<body >
<!-- barra de navegacion -->
<div th:include="components/nav.html" th:remove="tag"></div>
      
<section class="banner"></section>  
      
<!-- formulario de registro -->

<div class="container" id="advanced-search-form">
    <h2>Formulario de Registro</h2>
    <form id="crearUsuario" th:object="${nuevoUsuario}" method="post" th:action="@{/crear-cuenta}" autocomplete="off">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" id="nombre" required >
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" th:field="*{apellido}" placeholder="Apellido" id="apellido" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" th:field="*{correo}" placeholder="Correo" id="correo" required>
        </div>
        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="text" class="form-control" th:field="*{telefono}" placeholder="Telefono" id="telefono" required>
        </div>
        <div class="form-group">
            <label for="dni">Dni</label>
            <input type="text" class="form-control" th:field="*{dni}" placeholder="dni" id="dni" required>
        </div>
        <div class="form-group">
            <label for="username">Nombre de Usuario</label>
            <input type="text" class="form-control" th:field="*{username}" placeholder="Nombre de Usuario" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" th:field="*{password}" placeholder="Contraseña" id="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmar Contraseña</label>
            <input type="password" class="form-control" th:field="*{confirmPassword}" placeholder="Confirmar Contraseña"  id="confirmPassword" required>
        </div>
        <div>
            <button type="submit" class="btn btn-info btn-responsive" id="search">Registrar</button>
        </div>
        <div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">
            Error
        </div>
        <div th:if="${formOkMessage}" class="alert alert-success text-center" th:text="${formOkMessage}" role="alert">ok</div>
    </form>

</div>

<div th:include="components/footer.html" th:remove="tag"></div>
<div th:include="components/scripts.html" th:remove="tag"></div>
    
</body>
</html>